@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

body {
    font-family: "Montserrat", sans-serif;
    background: rgb(195,34,102);
background: linear-gradient(180deg, rgba(195,34,102,1) 0%, rgba(253,187,45,1) 33%, rgba(253,187,45,1) 66%, rgba(0,128,0,1) 96%);
}

h1 {
    font-size: 80px;
}

p {
    font-size: 30px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 10px;
}

h4 {
    font-size: 30px;
}

.container-all {
    width: 100%;
    height: auto;

}

.container-1 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.container-2 {
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.container-3 {
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.box-1 {
    flex: 1;
}

.box-2 {
    flex: 1;
}

.box-3 {
    flex: 1;
}

.container-4 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.container-5 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.container-6 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.container-7 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

p {
    font-size
}